In [1]:
# ----------------------------------------------------
# 집계함수 => 평균, 표편, 최대,최소,중앙,최빈,상관계수
# ----------------------------------------------------
import pandas as pd

In [2]:
FILE='../dataFiles/auto-mpg.csv'

In [ ]:
auto_mpg=pd.read_csv(FILE,header=None)
auto_mpg

In [6]:
# 컬럼 지정하기 => columns 속성
auto_mpg.columns=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']

In [9]:
auto_mpg.mean(numeric_only=True)

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64

In [10]:
auto_mpg.median(numeric_only=True)

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64

In [11]:
#최빈값 => 가장 많은 값이 여러개면 모두 출력
auto_mpg.mode()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,13.0,4.0,97.0,150.0,1985.0,14.5,73.0,1.0,ford pinto
1,NaN,NaN,NaN,90.00,2130.0,NaN,NaN,NaN,NaN

In [13]:
auto_mpg.horsepower.value_counts()

150.0    20
90.00    20
88.00    19
110.0    18
100.0    17
         ..
77.0      1
61.00     1
151.0     1
91.00     1
103.0     1
Name: horsepower, Length: 98, dtype: int64

In [14]:
auto_mpg.max(),auto_mpg.min()

(mpg                         46.6
 cylinders                      8
 displacement                 455
 horsepower                     ?
 weight                      5140
 acceleration                24.8
 model year                    82
 origin                         3
 car name        vw rabbit custom
 dtype: object,
 mpg                                   9
 cylinders                             3
 displacement                         68
 horsepower                        100.0
 weight                             1613
 acceleration                          8
 model year                           70
 origin                                1
 car name        amc ambassador brougham
 dtype: object)

In [16]:
auto_mpg.std(numeric_only=True)

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64

In [19]:
auto_mpg.corr()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [21]:
oneCorr=auto_mpg.corr().mpg
oneCorr

mpg             1.000000
cylinders      -0.775396
displacement   -0.804203
weight         -0.831741
acceleration    0.420289
model year      0.579267
origin          0.563450
Name: mpg, dtype: float64

In [23]:
oneCorr=abs(oneCorr)
oneCorr

mpg             1.000000
cylinders       0.775396
displacement    0.804203
weight          0.831741
acceleration    0.420289
model year      0.579267
origin          0.563450
Name: mpg, dtype: float64

In [25]:
#내림차순 값 기준 정렬
oneCorr.sort_values(ascending=False)

mpg             1.000000
weight          0.831741
displacement    0.804203
cylinders       0.775396
model year      0.579267
origin          0.563450
acceleration    0.420289
Name: mpg, dtype: float64

In [54]:
# DataFrame의 수치데이터에 대한 기술 통계값
# 평균,표편, 최소, 최대 추출
fourDF=auto_mpg.describe().loc[['mean','std','min','max']]

In [55]:
fourDF.T

                     mean         std     min     max
mpg             23.514573    7.815984     9.0    46.6
cylinders        5.454774    1.701004     3.0     8.0
displacement   193.425879  104.269838    68.0   455.0
weight        2970.424623  846.841774  1613.0  5140.0
acceleration    15.568090    2.757689     8.0    24.8
model year      76.010050    3.697627    70.0    82.0
origin           1.572864    0.802055     1.0     3.0

In [57]:
# ====================================================
# 비교연산자
# 결과 True,False
# ====================================================
# mpg컬럼의 데이터가 25보다 큰 데이터만 출력
auto_mpg[auto_mpg['mpg']>25]
auto_mpg.mpg[auto_mpg['mpg']>25]

18     27.0
19     26.0
23     26.0
29     27.0
30     28.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 158, dtype: float64