이항 계수 4 플4(11402)

In [20]:
def f(n):
    ans=1
    if n==0:
        return 1
    else:
        for i in range(1,n+1):
            ans*=i
        return ans
    
def co(n, r):
    return f(n)//(f(r)*f(n-r))

a,b,c=map(int,input().split())

a_list=[]
b_list=[]
while a!=0 or b!=0:
    a_list.append(a%c)
    b_list.append(b%c)
    a=a//c
    b=b//c

result=1
for i in range(len(a_list)):
    if a_list[i]<b_list[i]:
        result=0
        break
    else:
        result*=co(a_list[i],b_list[i])
        result%=c
print(result)

30 15
155117520

곱셈 실1(1629)

In [72]:
a,b,c=map(int,input().split())
b_list=[]
d=1
while b!=0:
    b_list.append(b%2)
    b=b//2
for i in range(len(b_list)):
    if b_list[i]==1:
        e=a
        for j in range(i):
            e**=2
        d*=e
    else:
        pass
print(d%c)

10 11 12
4

In [78]:
a,b,c=map(int,input().split())

10 11 12
4

In [76]:
11%2

1

In [4]:
14%12

2

In [5]:
196%12

4

In [7]:
14**3%12

8

2xn 타일링 실3(11726)

In [85]:
def f(n):
    ans=1
    if n==0:
        return 1
    else:
        for i in range(1,n+1):
            ans*=i
        return ans
    
def co(n, r):
    return f(n)//(f(r)*f(n-r))

a= int(input())
b=0
for i in range(a//2+1):
    b+=co(a-i,i)
print(b%10007)

9
55

2xn 타일링 2 실3(11727)

In [88]:
def f(n):
    ans=1
    if n==0:
        return 1
    else:
        for i in range(1,n+1):
            ans*=i
        return ans
    
def co(n, r):
    return f(n)//(f(r)*f(n-r))

a= int(input())
b=0
for i in range(a//2+1):
    b+=(co(a-i,i)*(2**i))
print(b%10007)

12
2731

평균 점수 브4(10039)

In [1]:
a=[]
c=0
for i in range(5):
    b=int(input())
    a.append(b)
for j in a:
    if j<40:
        c+=40
    else:
        c+=j
print(c//5)

10
65
100
30
95
68

터렛 실3(1002)

In [1]:
import math
a= int(input())
for i in range(a):
    b=list(map(int, input().split()))
    c=math.sqrt((b[0]-b[3])**2+(b[1]-b[4])**2)
    if c==0:
        if b[2]==b[5]:
            print(-1)
        else:
            print(0)
    elif abs(b[2]-b[5])==c or b[2]+b[5]==c:
        print(1)
    elif abs(b[2]-b[5])<c<b[2]+b[5]:
        print(2)
    else:
        print(0)

1
1 1 1 1 1 1
-1

좌표 정렬 2 실5(11651)

In [25]:
a = int(input())
b=[]
for i in range(a):
    c=list(map(int, input().split()))
    b.append([c[1],c[0]])
b.sort()
for j in range(a):
    print(b[j][1],b[j][0])

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

조합 실4(2407)

In [62]:
def f(n):
    if n==0:
        return 1
    else:
        return n*f(n-1)
def co(a,b):
    return f(a)//(f(b)*f(a-b))
a,b=map(int, input().split())
print(co(a,b))

100 6
1192052400

In [27]:
a=int(input())
def st(n):
    if n==0:
        return 0
    elif n==2:
        return 1
    elif n==4:
        return 2
    elif n%2==1:
        return 0
    elif n%2==0:
        return 2*st(n-2)+(2**(n//2-3))
    
for i in range(a):
    b=int(input())
    print(st(b)%(10**9+7))

6
6
5
8
12
10
28
12
64
14
144
16
320

In [11]:
8//2

4

In [25]:
st(4)*2+(2**((6//2)-3))

6.0

In [21]:
4//2-3

-1

In [60]:
player=1
a,b=map(int,input().split())
plus=[]
plus_area=[]
plus_end=[]
minus=[]
for i in range(a):
    c= list(map(int,input().split()))
    plus_area.append(c[0])
    plus_end.append(c[1])
    plus.append(c[1]-c[0])
for j in range(b):
    d=list(map(int,input().split()))
    minus.append(d[0])
start=(plus_area[plus.index(max(plus))]-player)//6+1
end=(100-plus_end[plus.index(max(plus))])//6+1
print(start+end)

4 9
8 52
6 80
26 42
2 72
51 19
39 11
37 29
81 3
59 5
79 23
53 7
43 33
77 21
5

In [55]:
plus_area=[32,42,12]
plus_area

[32, 42, 12]

In [57]:
plus.index(max(plus))

2

In [53]:
minus

[95, 97, 93, 79, 75, 49, 67]

비슷한 단어 실3(1411)

In [42]:
def f(n):
    if n==0:
        return 1
    else:
        return n*f(n-1)
def co(a,b):
    return f(a)//(f(b)*f(a-b))
from collections import Counter

a = int(input())
word_list=[]
han='ㄱㄴㄷㄹㅁㅂㅅㅇㅈㅊㅋㅍㅌㅎㅏㅑㅓㅕㅗㅛㅜㅠㅡㅣㅐㅔ1234567890가나다라마바사아자차카파타하'
S=0

for i in range(a):
    b=str(input())
    for i in range(len(b)):
        b=b.replace(b[i],han[i])
    word_list.append(b)
count=Counter(word_list).most_common()
for x in range(len(count)):
    if count[x][1]==1:
        S+=0
    else:
        S+=co(count[x][1],2)
print(S)

12
cacccdaabc
cdcccaddbc
dcdddbccad
bdbbbaddcb
bdbcadbbdc
abaadcbbda
babcdabbac
cacdbaccad
dcddabccad
cacccbaadb
bbcdcbcbdd
bcbadcbbca
13