분산처리 브2(1009)

In [85]:
a = int(input())
for i in range(a):
    b,c=map(int,input().split())
    d=[]
    e=b
    d.append(str(b)[-1])
    for j in range(c):
        b=b*e
        if str(b)[-1] in d:
            break
        d.append(str(b)[-1])
    if d[-1]=='0':
        print(10)
    else:
        print(d[c%len(d)-1])

1
10 11
10

In [ ]:
n =int(input())

for i in range(n):
    a,b = map(int, input().split())
    computer = a**b
    if a ==1 or a ==5 or a ==6 :
        print(a)
    elif computer%10 == 0 :
        print(10)
    else:
        print(computer%10)

연도 진행바 실5(1340)

In [34]:
month=['January', 'February', 'March', 'April', 'May', 'June', 'July', 
       'August', 'September', 'October', 'November', 'December']
day=[31,59,90,120,151,181,212,243,273,304,334]
day_2=[31,60,91,121,152,182,213,244,274,305,335]
a=list(map(str, input().split()))
time=0
year=0
if int(a[2])%4==0 and int(a[2])%100!=0:
    year+=1
elif int(a[2])%400==0:
    year+=1
else:
    year+=0
for i in range(len(month)):
    if year==0 and a[0]==month[i]:
        if i==0:
            time+=0
        else:
            time+=day[i-1]
        break
    elif year==1 and a[0]==month[i]:
        if i==0:
            time+=0
        else:
            time+=day_2[i-1]
        break
time+=(int(a[1][:-1])-1)
time*=1440
time+=(int(a[3][:2])*60)+(int(a[3][3:]))
if year==1:
    print(time/5270.4)
elif year==0:
    print(time/5256)

December 31, 2007 23:59
99.9998097412481

지능형 기차 브3(2455)

In [36]:
human=0
many=[]
for i in range(4):
    a,b =map(int,input().split())
    human-=a
    many.append(human)
    human+=b
    many.append(human)
print(max(many))

0 32
3 13
28 25
39 0
42

지능형 기차 2 브3(2460)

In [43]:
human=0
many=[]
for i in range(10):
    a,b =map(int,input().split())
    human-=a
    many.append(human)
    human+=b
    many.append(human)
print(max(many))

0 32
3 13
28 25
17 5
21 20
11 0
12 12
4 2
0 8
21 0
42

행렬 덧셈 브5(2738)

In [16]:
a,b = map(int, input().split())
A=[]
C=[]
B=[]
for j in range(2):
    for i in range(a):
        c=list(map(int, input().split()))
        if j==0:
            A.append(c)
            C.append(c)
        else:
            B.append(c)
for x in range(a):
    for y in range(b):
        C[x][y]=str(A[x][y]+B[x][y])
for c in range(len(C)):
    print(' '.join(C[c]))

3 1
1
1
1
2
2
2
3
3
3

대회 or 인턴 브3(2875)

In [110]:
a,b,c = map(int,input().split())
while True:
    if c>0:
        if a>=2*b:
            a-=1
            c-=1
        else:
            b-=1
            c-=1
    if c==0:
        break

if a>=2*b:
    print(b)
else:
    print(a//2)

6 10 3
3

줄임말 만들기 브1(3181)

In [137]:
a=list(map(str, input().split()))
b=['i', 'pa', 'te', 'ni', 'niti', 'a', 'ali', 'nego', 'no', 'ili']
waste=[]
for i in range(len(a)):
    if i==0 and a[i] in b:
        pass
    elif i!=0 and a[i] in b:
        waste.append(a[i])
for j in waste:
    a.remove(j)
for x in range(len(a)):
    a[x]=a[x][0].upper()
    print(a[x],end='')

ali ja sam i jucer jeo
AJSJJ

탄산 음료 브2(5032)

In [145]:
a,b,c=map(int, input().split())
sum_ab=a+b
cola=0
while sum_ab>=c:
    cola+=(sum_ab//c)
    sum_ab=(sum_ab//c)+(sum_ab%c)
print(cola)

5 5 2
9

길면 기차, 기차는 빨라, 빠른 것은 비행기 브3(9493)

In [240]:
import math
while True:
    a,b,c=map(int,input().split())
    if a==0 and b==0 and c==0:
        break
    else:
        train=a/b*3600
        air=a/c*3600
        time=train-air
        hour=int(time//3600)
        minute=int((time-3600*hour)//60)
        second=round(time-3600*hour-60*minute)
        if minute<10 and second<10:
            print(str(hour)+':0'+str(minute)+':0'+str(second))
        elif minute<10 and second>=10:
            print(str(hour)+':0'+str(minute)+':'+str(second))
        elif minute>=10 and second<10:
            print(str(hour)+':'+str(minute)+':0'+str(second))
        elif minute>=10 and second>=10:
            print(str(hour)+':'+str(minute)+':'+str(second))

21 70 80
0:02:15
26 65 80
0:04:30
0 0 0

Baseball 브3(10214)

In [242]:
a= int(input())
for i in range(a):
    y=0
    k=0
    for j in range(9):
        b,c=map(int, input().split())
        y+=b
        k+=c
    if y>k:
        print('Yonsei')
    elif k>y:
        print('Korea')
    else:
        print('Draw')

1
1 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Yonsei

수빈이와 수열 브2(10539)

In [267]:
a= int(input())
b= list(map(int, input().split()))
c=[]
for i in range(a):
    c.append(b[i]*(i+1))
for j in range(1,a+1):
    if j==a:
        b[-j]=c[-j]
    else:
        b[-j]=c[-j]-c[-j-1]
for x in range(a):
    print(b[x],end=' ')

4
3 2 3 5
3 1 5 11

시험 감독 브2(13458)

In [281]:
n= int(input())
a= list(map(int, input().split()))
b,c=map(int, input().split())
total=0
for i in range(n):
    if a[i]<b:
        pass
    else:
        if (a[i]-b)%c==0:
            total+=(a[i]-b)//c
        else:
            total+=(1+(a[i]-b)//c)
total+=n
print(total)

5
10 9 10 9 10
7 2
13

치킨 두 마리(...) 브4(14489)

In [286]:
a,b=map(int,input().split())
c=int(input())
if c==0:
    print(a+b)
else:
    if (a+b)//c>=2:
        print(a+b-2*c)
    else:
        print(a+b)

0 0
0
0

핸드폰 번호 궁합 브1(17202)

In [293]:
a=str(input())
b=str(input())
c=''
for i in range(len(a)):
    c+=a[i]
    c+=b[i]
while True:
    d=''
    for j in range(len(c)-1):
        sum=int(c[j])+int(c[j+1])
        if sum>=10:
            d+=str(sum)[-1]
        else:
            d+=str(sum)
    c=d
    if len(c)<=2:
        break
print(c)

01234567
12345678
02

태보태보 총난타 브2(17249)

In [308]:
a=str(input())
print(a[:a.index('(')].count('@='),a[a.index(')'):].count('=@'))

@===@==@=@==(^0^)==@=@===@
4 3

통학의 신 브3(17945)

In [344]:
import math
a,b=map(int, input().split())
c=[]
for i in range(-1000,1001):
    if i**2 + 2*a*i + b==0:
        print('\n'.join)

2 3
-3 -1

N M 찍기 브3(18883)

In [56]:
a,b=map(int, input().split())
c=[]
for i in range(a):
    d=[]
    for j in range(1+i*b,i*b+b+1):
        d.append(str(j))
    c.append(d)
for x in range(len(c)):
    print(' '.join(c[x]))

7 8
1 2 3 4 5 6 7 8
9 10 11 12 13 14 15 16
17 18 19 20 21 22 23 24
25 26 27 28 29 30 31 32
33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48
49 50 51 52 53 54 55 56

In [57]:
c

[['1', '2', '3', '4', '5', '6', '7', '8'],
 ['9', '10', '11', '12', '13', '14', '15', '16'],
 ['17', '18', '19', '20', '21', '22', '23', '24'],
 ['25', '26', '27', '28', '29', '30', '31', '32'],
 ['33', '34', '35', '36', '37', '38', '39', '40'],
 ['41', '42', '43', '44', '45', '46', '47', '48'],
 ['49', '50', '51', '52', '53', '54', '55', '56']]

수학은 비대면강의입니다 브2(19532)

In [11]:
a,b,c,d,e,f=map(int, input().split())
for x in range(-999,1000):
    for y in range(-999,1000):
        if a*x+b*y==c and d*x+e*y==f:
            print(x,y)

2 5 8 3 -4 -11
-1 2

백발백준하는 명사수 브3(22938)

In [15]:
import math
a,b,c=map(int,input().split())
d,e,f=map(int,input().split())
if math.sqrt((a-d)**2+(b-e)**2)>=c+f:
    print('NO')
else:
    print('YES')

0 0 1
10 10 14
YES

영화 평가 브1(23278)

In [28]:
n,l,h = map(int,input().split())
score=list(map(int, input().split()))
score.sort()
for i in range(l):
    score.remove(score[l-1-i])
for j in range(h):
    score.pop()
print(sum(score)/len(score))

10 1 4
31 52 20 86 47 76 82 27 42 29
35.2