In [1]:
# ----------------------------------------------------------
# 결측치
# - 값이 들어 있지 않는 것을 의미
# - 표기 : NaN, NA
# ----------------------------------------------------------
import pandas as pd
import numpy as np

In [2]:
data=[[10,13,np.nan,7],
      [2,9,3,1],
      [21,31,np.nan,51]]
dataDF=pd.DataFrame(data)
dataDF

    0   1    2   3
0  10  13  NaN   7
1   2   9  3.0   1
2  21  31  NaN  51

In [12]:
# 결측치 계산 방법 ---(1) count() 메서드 활용 notnull()
# nan 제외한 데이터 갯수
dataDF.count()

0    3
1    3
2    1
3    3
dtype: int64

In [14]:
# DF의 행 갯수 => 속성 shape
dataDF.shape[0]

3

In [16]:
missing=dataDF.shape[0]-dataDF.count()
missing

0    0
1    0
2    2
3    0
dtype: int64

In [13]:
# 결측치 계산 -----------(2) value_counts() 메서드 나만 왜 에러...?
dataDF.value_counts()

0  1  2    3
2  9  3.0  1    1
dtype: int64

In [8]:
dataDF.isnull()

       0      1      2      3
0  False  False   True  False
1  False  False  False  False
2  False  False   True  False

In [9]:
# 집계 메서드 => axis=0 : 각각의 행
#            => axis=1 : 각각의 열
dataDF.isnull().sum(),dataDF.isnull().sum(axis=1)

(0    0
 1    0
 2    2
 3    0
 dtype: int64,
 0    1
 1    0
 2    1
 dtype: int64)

In [11]:
# 정상 데이터 갯수 파악 notnull(),notna()
dataDF.notnull().sum()

0    3
1    3
2    1
3    3
dtype: int64