1. 저항 브2(1076)

In [15]:
color=['black','brown','red','orange','yellow',
       'green','blue','violet','grey','white']
num = [0,1,2,3,4,5,6,7,8,9]
mul=[]
for i in range(10):
    mul.append(10**i)
a=str(input())
b=str(input())
c=str(input())
print((num[color.index(a)]*10+num[color.index(b)])*mul[color.index(c)])

yellow
violet
red

4700

2. 성 지키기 브1(1236)

In [36]:
a,b=map(int,input().split())
x_list=[]
y_list=[]
castle=[]
for i in range(a):
    x_list.append(i)
for j in range(b):
    y_list.append(j)    
for i in range(a):
    c=str(input())
    castle.append(c)
for x in range(a):
    for y in range(b):
        if castle[x][y]=='X':
            if x in x_list:
                x_list.remove(x)
            if y in y_list:
                y_list.remove(y)
print(max(len(x_list),len(y_list)))

3 5
XX...
.XX..
...XX
0

3. 진짜 공간 브2(1350)

In [45]:
import math
a= int(input())
size=list(map(int, input().split()))
cluster=int(input())
count=0
for i in range(a):
    count+=math.ceil(size[i]/cluster)
print(count*cluster)

6
0 0 0 0 0 0
8
0

4. 피시방 알바 브2(1453)

In [49]:
a=int(input())
b=list(map(int, input().split()))
c=[]
count=0
for i in range(a):
    if b[i] not in c:
        c.append(b[i])
    elif b[i] in c:
        count+=1
print(count)

6
6 4 5 5 4 5
3

5. 나머지와 몫이 같은 수 브1(1834)

In [53]:
a= int(input())
sum_list=[]
for i in range(1,a):
    sum_list.append(a*i+i)
print(sum(sum_list))

2000000
3999999999999000000

6. 주사위 네개 브2(2484)(코드 간단하게)

In [75]:
a= int(input())
c=[]
for i in range(a):
    b=list(map(int,input().split()))
    if len(set(b))==4:
        c.append(max(b)*100)
    elif len(set(b))==3:
        for i in range(4):
            if b.count(b[i])==2:
                break
        c.append(b[i]*100+1000)
    elif len(set(b))==2:
        for i in range(4):
            if b.count(b[i])==2:
                c.append(list(set(b))[0]*500+list(set(b))[1]*500+2000)
                break
            elif b.count(b[i])==3:
                c.append(b[i]*1000+10000)
                break
    elif len(set(b))==1:
        c.append(50000+b[0]*5000)
print(max(c))

4
3 3 3 3
3 3 6 3
2 2 6 6
6 2 1 5
65000

7. 트럭 주차 브2(2979)

In [93]:
a,b,c=map(int, input().split())
i_list=[]
o_list=[]
io=[0]*100
count=0
for i in range(3):
    i,o=map(int, input().split())
    i_list.append(i)
    o_list.append(o)
    for j in range(i,o):
        io[j]+=1
count+=io.count(1)*a
count+=io.count(2)*2*b
count+=io.count(3)*3*c
print(count)

10 8 6
15 30
25 50
70 80
480

8. 체스판 조각 브3(3004)

In [103]:
a = int(input())
if a%2==0:
    print((a//2+1)**2)
elif a%2==1:
    print(((a+1)//2+1)**2-((a+1)//2+1))

6
16

9. 시험 점수 브4(5596)

In [104]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c=[]
c.append(sum(a))
c.append(sum(b))
print(max(c))

100 80 70 60
80 70 80 90
320

10. 싱기한 네자리 숫자 브2(6679)

In [133]:
need_list=[]
num=[]
for i in range(1000,10000):
    num.append(i)

for j in num:
    
    j_10=j
    j_12=j
    j_16=j
    ten_list=[]
    two_list=[]
    six_list=[]
    
    while j_10!=0:
        ten_list.append(j_10%10)
        j_10=j_10//10
    while j_12!=0:
        two_list.append(j_12%12)
        j_12=j_12//12
    while j_16!=0:
        six_list.append(j_16%16)
        j_16=j_16//16
        
    if sum(ten_list)==sum(two_list)==sum(six_list):
        need_list.append(j)

for k in range(len(need_list)):
    print(need_list[k],end='\n')

2992
2993
2994
2995
2996
2997
2998
2999
4470
4471
4472
4473
4474
4475
4970
4971
4972
4973
4974
4975
5460
5461
5462
5463
5464
5465
5466
5467
5468
5469
5960
5961
5962
5963
6456
6457
6458
6459
7440
7441
7442
7443
7444
7445
7446
7447
7448
7449
7940
7941
7942
7943
8436
8437
8438
8439
9424
9425
9426
9427
9428
9429
9924
9925
9926
9927
9928
9929

11. 니모를 찾아서 브2(10173)

In [159]:
while True:
    a= list(map(str, input().split()))
    if a[0]=='EOI':
        break
    else:
        for i in range(len(a)):
            a[i]=a[i].lower()
        if 'nemo' in a or 'nemo,' in a:
            print('Found')
        else:
            print('Missing')

Marlin names this last egg Nemo, a name that Coral liked.
Found
While attempting to save nemo, Marlin meets Dory,
Found
a good-hearted and optimistic regal blue tang with short-term memory loss.
Missing
Upon leaving the East Australian Current,(888*%$^&%0928375)Marlin and Dory
Missing
NEMO leaves for school and Marlin watches NeMo swim away.
Found
EOI

12. 수도요금 브3(10707)

In [172]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())

X=[]
Y=[]
X.append(a*e)
if e<=c:
    Y.append(b)
else:
    Y.append(b+(e-c)*d)
print(min(X[0],Y[0]))

8
300
100
10
250
1800

13. 세로읽기 브1(10798)

In [183]:
a=str(input())
b=str(input())
c=str(input())
d=str(input())
e=str(input())

total=[]

for i in range(max(len(a),len(b),len(c),len(d),len(e))):
    if i>=len(a):
        pass
    else:
        total.append(a[i])
    if i>=len(b):
        pass
    else:
        total.append(b[i])
    if i>=len(c):
        pass
    else:
        total.append(c[i])
    if i>=len(d):
        pass
    else:
        total.append(d[i])
    if i>=len(e):
        pass
    else:
        total.append(e[i])
for k in range(len(total)):
    print(total[k],end='')

AABCDD
afzz
09121
a8EWg6
P5h3kx
Aa0aPAf985Bz1EhCz2W3D1gkD6x

14. 정수의 개수 브2(10821)

In [185]:
a=str(input())
b=a.count(',')+1
print(b)

10,20,30,50,100
5

15. 지영 공주님의 마법 거울 브3(11586)

In [213]:
a = int(input())
c=[]
two=[]
for i in range(a):
    b=str(input())
    c.append(b)
    two.append(b)
d=int(input())
for j in range(a):
    three=[]
    if d==1:
        print(c[j],end='\n')
    elif d==2:
        print(c[j][::-1],end='\n')      
    elif d==3:
        print(c[-j-1],end='\n')

1
aa
2
aa

16. Do Not Touch Anything 브4(13136)

In [216]:
import math
a,b,c=map(int, input().split())
print(math.ceil(a/c)*math.ceil(b/c))

9 9 3
9

17. FA 브4(14935)

In [221]:
n=str(input())
while True:
    n=str(int(n[0])*len(n))
    if len(n)==1:
        print('FA')
        break

932
FA

18. 이칙연산 브4(15726)

In [222]:
a,b,c=map(int,input().split())
if b>=c:
    print((a*b)//c)
elif b<c:
    print((a*c)//b)

32 16 8
64

19. 긴급 회의 브1(20113)

In [250]:
a=int(input())
b=list(map(int, input().split()))
c=[]
for zero in range(b.count(0)):
    b.remove(0)

for i in range(a+1):
    c.append(0)
for j in b:
    c[j]+=1
if c.count(max(c))>1:
    print('skipped')
else:
    print(c.index(max(c)))

7
0 0 0 1 1 0 0
1

20. Darius님 한타 안 함? 브4(20499)

In [261]:
k,d,a=map(int,input().split('/'))
if k+a<d or d==0:
    print('hasu')
else:
    print('gosu')

0/0/1
hasu